::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #cacaca !important;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #6f6f6f;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #cacaca !important;
}

::-webkit-input-placeholder {
  color: white !important;
}

::-webkit-input-disabled {
  background-color: #262B2F !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #262B2F;
  color: white;
  min-height: 100%;

}

.canvasbg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  /* background-color: linear-gradient(rgb(168, 155, 225), #90cdf4) !important;
  position: absolute !important;
  z-index: 1; */
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mIcon {
  margin-left: 2px !important;
  margin-right: 2px !important;
  z-index: 100 !important;
}

.mIcon:hover{
  cursor: pointer !important;
  transform: scale(1.05) perspective(1px) !important;
}


.gr:hover{
  cursor: pointer !important;
  transform: scale(1.05) perspective(1px) !important;
}

.mn:hover {
  background-color: #a89be1 !important;
}


body.dark {
	height: 100%;
	background-color: #262B2F;
  color: white;
}

.fullHeight{
  height: 100%;
  align-items: stretch;
  min-width: 12rem;
}


.linagee {
	background-color: rgb(168, 155, 225);
}

.darkNav {
  background-color: #262B2F;
  border-bottom: solid 2px white;
}

.linagee-border {
  border: solid 1.5px;
  border-color: rgb(168, 155, 225);
}

.logof {
  position: absolute;
  left: 50%;
  bottom: 35%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 1000;

}

.svg-wrapper {
  padding-top: 10vh;
  padding-left: 9px;
  width: 30vh;
  max-width: 300px;
  position: relative;
  left: calc(50%);
  transform: translate(-50%, 0);
  z-index: 1000 !important;
}

.lt {
  padding-top: 10px;
  z-index: 1000 !important;
}

.logoTitle {
    height: fit-content;
    margin: 0 auto;
    z-index: 1000 !important;
    font-weight: 500;
    text-shadow: 0 0 15px #e60073;
    align-items: center; 
    justify-content: center;
    text-align: center;

}

.mainLogo {
  position: absolute;
  left: 50%;
  bottom: 32vh;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 1000;
}

.svg-shadow {
  animation: svg-shadow 1.5s ease-in-out infinite alternate;
}

@keyframes svg-shadow {
  from {
    filter: drop-shadow( 0 0 5px #fff) drop-shadow( 0 0 15px #e60073) drop-shadow( 0 0 20px #e60073);
  }

  to {
    
    filter: drop-shadow( 0 0 20px #fff) drop-shadow( 0 0 25px #e60073) drop-shadow( 0 0 40px #e60073);
  }
}

.bottom {
  width:100%;
  /* height: 3px;
  background-color: white */
  

}

.z{
  z-index: 3000 !important;
}

.page {
  padding: 15px;
  padding-top: 25px;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
  color: white !important;
}
.rel {
  align-items: center;
	justify-content: center;
  text-align: center;
	width: 100%;
	height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgb(168, 155, 225), #90cdf4) !important;
  background-color: linear-gradient(rgb(168, 155, 225), #90cdf4) !important
}

.is-transparent {
  background-color: transparent !important;
}

.dark-bg {
  background-color: #262B2F;
}

.no-bg{
  background-color: transparent !important;
}

.hm {
	width: 40%;
	height: 80%;
}

.lg {
	background-image: linear-gradient(rgb(168, 155, 225), #90cdf4)
}

.bd {
  background-image: linear-gradient(#ff6062, #ff9766)
}

.errorClass {
  border: solid red 2px;
  outline-offset: 15px;
  border-radius: 4px;
}

.errorBox {
  background-color: rgb(225, 136, 136);
  color: rgb(184, 42, 42);
}

.successBox{
  background-color: rgb(153, 222, 159);
  color: rgb(25, 99, 31);
}

.darkSecondary{
  background-color: #353840;
}

.animated {
  animation-delay: 2000ms;
  -webkit-animation-duration: 2s;animation-duration: 2s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.smoothTransition {
  transition: transform 1s ease-in-out;
}

.profileInfo {
  width: 80%;
  color: white;
  height: 100%;
  padding-top: 10px;
}

.profileCard {
  margin: 15px;
  color: white !important;
  border-radius: 10px !important;
  max-width: 450px;
}

.profilePrimary {
  margin-top: 75%;
}
.profileL {
  margin-left: -86%;

}

.searchL {
  position: relative;
  float: left;
  top: 5px;
  left: -22px !important;

}

.wrapIcon{
  position: relative;
  float: right;
  top: 5px;
}


.bm--card-equal-height {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
}

.centerColumn {
  align-items: center !important;
	justify-content: center !important;
}

.bw {
  width: 100%;
  
}

.name{
  color: #fff!important;
  font-weight: 400;
  border: solid 2px;
  border-color: #fff;
  background-color: transparent !important;
}


.tagCount{
  padding: 5px;
  color: #a99de2 !important;
  font-weight: 400;
  border: solid 1.5px;
  border-color: rgb(168, 155, 225);
  background-color: transparent !important;
}

.resultTile{
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  border-radius: 4px;

}

.searchTag{
  width: 30%;
  float: bottom;
}

.searchStats{
  margin-top: auto;;
  width: 100%;
  padding: 5px;
  align-items: column;
  justify-content: center;
  height: 17%;
  border: solid red 2px;

}


.wh {
  color: white !important;
  font-weight: lighter;
}

.tableStyle {
  color: white;
  
}

.scroll {
  overflow-x: auto;
}

.searchBox {
  max-height: 160px;
}

.tableRow {
  cursor: pointer;
}

.tableRow:hover {
  background-color: #a89be1;
}

.hm {

}

.spaceRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spacer {
  height: 12rem;
  width: 80%;
}

.mbox {
  width: 60%;
  height: fit-content !important;
}

.mw {
  max-width: 500px;
}

.sm {
  width: 50%;
}

.cn {
  justify-content: center;
  align-items: center;
}

.pop{
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 1000;
}

.button:hover {

/*  Making button bigger on hover  */
  transform: scale(1.05) perspective(1px)
}

.progress {
  border: 0;
  height: 5px !important;
  border-radius: 0px !important;
}
.progress::-webkit-progress-bar {
  border: 0;
  height: 5px !important;
  border-radius: 0px !important;
  
}
.progress::-webkit-progress-value {
  border: 0;
  height: 5px !important;
  border-radius: 0px !important;
}
.progress::-moz-progress-bar {
  border: 0;
  height: 5px !important;
  border-radius: 0px !important;
}

.modalBg{
  background-color: #303030 !important;
}

.sbut{
  display: flex;
  flex-direction: row;
}

.msearch {
  display: flex;
  flex-direction: row;

}

.createPage{

  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;


}

.createForm{
  display: flex;
  flex-direction: column !important;
  max-width: 500px !important;
  margin-left: auto;
  margin-right: auto;
  justify-content: center !important;
  align-items: center !important;
}

.createC {
  max-width: 500px !important;
}

.bdr {
  border: solid red 2px
}

.mmint {
  width: 100%;
}

.z{
  z-index: 1001;
}



@media screen and (max-width: 780px) {
  .profileCard{

    font-size: x-large;
    display: block;
    margin-left: auto;
    margin-right: auto

  }

  .profilePrimary {
    font-size: x-large !important;
  }

  .bc {
    justify-content: center !important;
    align-items: center !important;

  }

  .minput{
    width: 100% !important;
  }

  .msearch {
    display: flex;
    flex-direction: column !important;

    margin-left: auto;
    margin-right: auto;
    justify-content: center !important;
    align-items: center !important;
  }

  .mb{
    margin-top: 5px !important;
  }

  .createPage{

  }


}